<!--Head start-->
<th:block th:fragment="head">
    <meta charset="utf-8">
    <title>AM Broker</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link th:href="@{/bootstrap-icons-1.11.3/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap-5.3.0/js/bootstrap.bundle.min.js}"></script>

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <script th:src="@{/js/js.cookie.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/flickity.css}" media="screen">
    <script th:src="@{/js/flickity.pkgd.min.js}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <script>
        $(document).ready(function () {

            let dom = $("#popover-image").clone();
            $('#qr').popover({
                html: true,
                content: dom.attr("style", "display:block;width: 120px;"),
                trigger: 'hover',
                placement: 'top',
                container: 'body'
            });

        });
    </script>

    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '883685063155203');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=883685063155203&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->

</th:block>
<!--Head end-->

<!--Lang start-->
<th:block th:fragment="lang">
    <div class="dropdown">
        <button class="d-flex align-items-center text-white btn dropdown-toggle lang-button" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
            <i class="d-block bi bi-globe text-white me-2" style="font-size: 24px"></i><span class="d-block"
                                                                                             th:text="${languageMap.get(selectedLanguageKey)}">ENGLISH</span>
        </button>
        <ul class="dropdown-menu " style="z-index: 1000">
            <li th:each="language : ${languageMap.entrySet()}"
                th:attrappend="class=${selectedLanguageKey == language.getKey() ? ' active' : ''}"
                class="dropdown-item border-0 text-black-50"
                th:onclick="selectLanguage([[${language.getKey()}]], this)">
                <span th:text="${language.getValue()}"></span>
            </li>
        </ul>
    </div>
    <script>
        function selectLanguage(selectedLanguage, e) {
            let pathname = window.location.pathname;
            let aPath = pathname.split("/");
            aPath[1] = selectedLanguage;
            window.location.href = aPath.join("/");
        }
    </script>
</th:block>
<!--Lang end-->

<!-- Menu start-->
<th:block th:fragment="menu">
    <div class="container-fluid  nav-bar" style="padding: 0">
        <div class="login-menu d-flex align-items-center justify-content-end">
            <div>
                <th:block th:include="common/include :: lang"></th:block>
            </div>
        </div>
    </div>
    <!-- Navbar Start -->
    <div class="container-fluid nav-bar bg-transparent" style="padding: 0">

        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
            <a th:href="|/${selectedLanguageKey}|" class="navbar-brand d-flex align-items-center text-center">
                <div class=" p-2 me-2">
                    <img src="/img/logo.png" alt="Icon" style="width: 50px;">
                </div>
                <h3 class="m-0 primary-color">AM-Broker</h3>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a th:href="|/${selectedLanguageKey}|" class="nav-item nav-link menu-home"
                       th:text="${menu['menu.home']}"></a>
                    <div class="nav-item dropdown">
                        <a th:href="|/${selectedLanguageKey}/aboutUs|"
                           class="nav-link dropdown-toggle menu-aboutUs show-on-pc"
                           th:text="${menu['menu.contact']}"></a>
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle show-on-mobile"
                           data-bs-toggle="dropdown" th:text="${menu['menu.contact']}"></a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a th:href="|/${selectedLanguageKey}/aboutUs|"
                               class="dropdown-item menu-products show-on-mobile"
                               th:text="${menu['menu.contact']}"></a>
                            <a th:href="|/${selectedLanguageKey}/tradingMarkets|"
                               class="dropdown-item menu-tradingMarkets"
                               th:text="${menu['menu.contact.tradingMarkets']}"></a>
                            <a th:href="|/${selectedLanguageKey}/licenses|" class="dropdown-item menu-licenses"
                               th:text="'ATOM Licenses'"></a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a th:href="|/${selectedLanguageKey}/forex|"
                           class="nav-link dropdown-toggle menu-products show-on-pc"
                           th:text="${menu['menu.products']}"></a>
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle show-on-mobile"
                           data-bs-toggle="dropdown" th:text="${menu['menu.products']}"></a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a th:href="|/${selectedLanguageKey}/forex|"
                               class="dropdown-item menu-products show-on-mobile"
                               th:text="${menu['menu.products']}"></a>
                            <a th:href="|/${selectedLanguageKey}/forex|" class="dropdown-item menu-forex"
                               th:text="${menu['menu.products.forex']}"></a>
                            <a th:href="|/${selectedLanguageKey}/stock|" class="dropdown-item menu-stock"
                               th:text="${menu['menu.products.stock']}"></a>
                            <a th:href="|/${selectedLanguageKey}/cryptocurrency|"
                               class="dropdown-item menu-cryptocurrency"
                               th:text="${menu['menu.products.cryptocurrency']}"></a>
                            <a th:href="|/${selectedLanguageKey}/cfds|" class="dropdown-item menu-cfds"
                               th:text="${menu['menu.products.cfds']}"></a>
                            <a th:href="|/${selectedLanguageKey}/metals|" class="dropdown-item menu-metals"
                               th:text="${menu['menu.products.metals']}"></a>
                            <a th:href="|/${selectedLanguageKey}/indices|" class="dropdown-item menu-indices"
                               th:text="${menu['menu.products.indices']}"></a>
                            <a th:href="|/${selectedLanguageKey}/commodities|" class="dropdown-item  menu-commodities"
                               th:text="${menu['menu.products.commodities']}"></a>
                        </div>
                    </div>
                    <a th:href="|/${selectedLanguageKey}/platform|" class="nav-item nav-link menu-platform"
                       th:text="${menu['menu.platform']}"></a>

                    <div class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                           th:text="${menu['menu.account']}"></a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a onclick="jumpToLogin()" href="javascript:void(0)"
                               class="dropdown-item" th:text="${menu['menu.account.login']}"></a>
                            <a onclick="jumpToRegister()" href="javascript:void(0)"
                               class="dropdown-item"
                               th:text="${menu['menu.account.register']}"></a>
                        </div>
                        <script>
                            function jumpToLogin() {
                                if (isVn()) {
                                    window.open("https://trader.am-broker.com/admin/login.php", '_blank');
                                    return;
                                }
                                window.open("https://office.am-broker.com/admin/login.php", '_blank');
                            }

                            function jumpToRegister() {
                                if (isVn()) {
                                    window.open("https://trader.am-broker.com/admin/reg.php", '_blank');
                                    return;
                                }
                                window.open("https://office.am-broker.com/admin/reg.php", '_blank');
                            }

                            function isVn() {
                                let href = window.location.pathname;
                                let aHref = href.split("/");
                                return aHref[1] === 'vn';
                            }
                        </script>
                    </div>
                </div>
            </div>
        </nav>
        <script>
            let productMenu = ["menu-forex", "menu-stock", "menu-cryptocurrency", "menu-cfds", "menu-metals", "menu-indices", "menu-commodities"];
            let aboutUsMenu = ["menu-tradingMarkets", "menu-tradingMethods", "menu-tradingAccounts", "menu-licenses"];

            let menu = location.pathname.replace(/^\//, "");
            let aMenu = menu.split("/");
            let menuClass = `menu-${aMenu[1]}`;
            if (aMenu.length === 1) {
                $(".menu-home").addClass("active");
            } else if (aboutUsMenu.includes(menuClass)) {
                $(".menu-aboutUs").addClass("active");
                $(`.${menuClass}`).addClass("active");
            } else if (productMenu.includes(menuClass)) {
                $(".menu-products").addClass("active");
                $(`.${menuClass}`).addClass("active");
            } else {
                $(`.${menuClass}`).addClass("active");
            }
        </script>
    </div>
    <!-- Navbar End -->


</th:block>
<!-- Menu end-->

<!-- Footer Start -->
<th:block th:fragment="footer">
    <div class="container-fluid  text-white text-white-50 footer pt-5  px-lg-5"
         data-wow-delay="0.1s" style="background: #37393F">
        <div class="container">
            <div class="row g-sm-1 g-2">
                <div class="col-md-6 col-lg-3 d-flex align-items-center">
                    <div class=" p-2 me-2">
                        <img src="/img/logo.png" alt="Icon" style="width: 50px;">
                    </div>
                    <h3 class="m-0 text-white">AM-Broker</h3>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-center">
                    <div class="me-lg-2">
                        <a class="btn btn-outline-light btn-social" href="javascript:void(0)">
                            <i class="bi bi-telephone-fill"></i>
                        </a>
                    </div>
                    <div>
                        <p class="m-0" th:text="${footer['footer.1']}"></p>
                        <small class="text-white">2834 0707</small>
                        <br>
                        <small class="text-white">+853 6522 1523</small>
                        <br>
                        <small class="text-white">+853 2834 0707</small>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mt-md-3 d-flex align-items-center">
                    <div class="me-2">
                        <a class="btn btn-outline-light btn-social" href="javascript:void(0)">
                            <i class="bi bi-envelope"></i>
                        </a>
                    </div>
                    <div>
                        <p class="m-0" th:text="${footer['footer.2']}"></p>
                        <small class="text-white">support@am-broker.com</small>
                        <small class="text-white">au.support@am-broker.com</small>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mt-md-3 d-flex align-items-center">
                    <div class="me-2">
                        <a class="btn btn-outline-light btn-social" href="javascript:void(0)">
                            <i class="bi bi-geo-alt-fill"></i>
                        </a>
                    </div>
                    <div>
                        <p class="m-0" th:text="${footer['footer.3.1']}"></p>
                        <small class="text-white d-inline-block mb-2" th:text="${footer['footer.3.2']}"></small>
                        <small class="text-white" th:text="${footer['footer.3.3']}"></small>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-5">
            <div class="copyright">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4">
                        <h5 class="box-before text-white mb-4" th:text="${footer['footer.4.1']}">
                            Information</h5>
                        <a class="btn btn-link text-white-50" th:href="|/${selectedLanguageKey}/products|"
                           th:text="${footer['footer.4.2']}"></a>
                        <a class="btn btn-link text-white-50" onclick="jumpToLogin()" href="javascript:void(0)"
                           th:text="${menu['menu.account.login']}"></a>
                        <a class="btn btn-link text-white-50" onclick="jumpToLogin()" href="javascript:void(0)"
                           th:text="${menu['menu.account.register']}"></a>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <h5 class="text-white mb-4 box-before" th:text="${menu['menu.products']}"></h5>
                        <a class="btn btn-link text-white-50" th:href="|/${selectedLanguageKey}/forex|"
                           th:text="${menu['menu.products.forex']}"></a>
                        <a class="btn btn-link text-white-50" th:href="|/${selectedLanguageKey}/stock|"
                           th:text="${menu['menu.products.stock']}"></a>
                        <a class="btn btn-link text-white-50" th:href="|/${selectedLanguageKey}/cryptocurrency|"
                           th:text="${menu['menu.products.cryptocurrency']}"></a>
                        <a class="btn btn-link text-white-50" th:href="|/${selectedLanguageKey}/cfds|"
                           th:text="${menu['menu.products.cfds']}"></a>
                        <a class="btn btn-link text-white-50" th:href="|/${selectedLanguageKey}/metals|"
                           th:text="${menu['menu.products.metals']}"></a>
                        <a class="btn btn-link text-white-50" th:href="|/${selectedLanguageKey}/indices|"
                           th:text="${menu['menu.products.indices']}"></a>
                        <a class="btn btn-link text-white-50" th:href="|/${selectedLanguageKey}/commodities|"
                           th:text="${menu['menu.products.commodities']}"></a>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <h5 class="text-white mb-4 box-before" th:text="${menu['menu.contact']}"></h5>
                        <a class="btn btn-link text-white-50" th:href="|/${selectedLanguageKey}/aboutUs|"
                           th:text="${menu['menu.contact']}"></a>
                        <a class="btn btn-link text-white-50" th:href="|/${selectedLanguageKey}/licenses|"
                           th:text="'ATOM Licenses'"></a>
                    </div>

                    <div class="col-lg-5 col-md-12">
                        <h3 th:text="${footer['footer.7']}" class="text-white mb-4">Subscribe</h3>
                        <p th:text="${footer['footer.8']}">Join Our Mailing List & to get our news.</p>
                        <p th:text="${footer['footer.9']}" style="margin-top: 30px;"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row justify-content-between">
                    <div class="col-lg-9 mb-3 mb-md-0 align-items-center mb-md-3 text-white"
                         th:utext="${footer['footer.5']}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-lg btn-warning btn-lg-square contact-us" id="qr">
        <i class="bi bi-whatsapp"></i>
    </button>

    <img id="popover-image" src="/img/qrCode/1.png" style="display: none;">
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- Modal -->
    <div class="modal " id="eventModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body" style="padding: 0;position: relative;">
                    <div style="position: absolute;right: 5px;top:5px;" class="text-white">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                    </div>
                    <img src="/img/event/1.png" style="width: 100%;" alt=""/>
                </div>
                <div class="modal-footer">
                    <label>
                        <input type="checkbox" id="event-checkbox"/> Don't show again today
                    </label>
                </div>
            </div>
        </div>
    </div>
    <script>
        let modal = new bootstrap.Modal(document.getElementById('eventModal'));
        let eventModal = $('#eventModal');
        eventModal.on('shown.bs.modal', function () {
            let $this = $(this);
            let $modal_dialog = $this.find('.modal-dialog');
            let m_top = ($(window).height() - $modal_dialog.height()) / 5;
            $modal_dialog.css({
                'margin': m_top + 'px auto',
                'max-width': '300px'
            });
        });
        eventModal.on('hide.bs.modal', function () {
            if ($('#event-checkbox').is(':checked')) {
                let now = new Date();
                let expires = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 23, 59, 59);
                Cookies.set('showEvent', 'true', {expires: expires});
            }
        });
        if (!Cookies.get('showEvent')) {
            modal.show();
        }
    </script>
    <!-- Back to Top -->
</th:block>
<!-- Footer End -->

<!-- Trading Start -->
<th:block th:fragment="trading">
    <a onclick="jumpToLogin()" href="javascript:void(0)" class="btn btn-primary wow fadeIn px-5 " target="_blank">
        <b class="text-white mb-0" style="font-size: 24px" th:text="${common['common.startTrading']}"></b>
    </a>
</th:block>
<!-- Trading End -->

<!-- Javascript Start -->
<th:block th:fragment="js">
    <script th:src="@{/lib/wow/wow.min.js}"></script>
    <script th:src="@{/lib/easing/easing.min.js}"></script>
    <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
    <!-- Template Javascript -->
    <script th:src="@{/js/main.js}"></script>
</th:block>
<!-- Javascript End -->


<!-- sub-page banner -->
<th:block th:fragment="subBanner(src,text)">
    <div class="container-fluid header p-0 mt-2 show-on-pc">
        <div class="position-relative banner-bg-img">
            <img th:src="${src}" alt="">
            <div class="position-absolute">
                <h1 class="text-white wow fadeIn" th:text="${text}"></h1>
                <th:block th:include="common/include :: trading"></th:block>
            </div>
        </div>
    </div>
</th:block>
<!-- sub-page end -->



