<!-- bg Start -->
<th:block th:fragment="module">
    <div class="container  p-0 my-5">
        <div class="row g-0 justify-content-around  wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-5 col-12 p-2">
                <img src="/img/metals/module3/1.png" style="width: 100%" alt="">
            </div>
            <div class="col-lg-6  col-12 p-2 px-3">
                <h4><b th:text="${indices['indices.module4.1']}"></b></h4>
                <span class="d-block my-3 mb-4"><b th:text="${indices['indices.module4.2']}"></b></span>
                <p><i class="box-before"></i> <span th:text="${metals['metals.module4.3']}"></span></p>
                <div class="d-flex">
                    <p><i class="box-before"></i><span class="me-5"
                                                       th:text="${metals['metals.module4.4']}"></span></p>
                    <p><i class="box-before"></i><span th:text="${metals['metals.module4.5']}"></span></p>
                </div>
                <p><i class="box-before"></i><span th:text="${metals['metals.module4.6']}"></span></p>
                <div class="d-flex">
                    <p><i class="box-before"></i><span class="me-5"
                                                       th:text="${metals['metals.module4.7']}"></span></p>
                    <p><i class="box-before"></i><span th:text="${metals['metals.module4.8']}"></span></p>
                </div>
                <p><i class="box-before"></i><span th:text="${metals['metals.module4.9']}"></span></p>
                <p><i class="box-before"></i><span th:text="${metals['metals.module4.10']}"></span></p>

            </div>
        </div>

    </div>
</th:block>
<!-- bg End -->
