
<th:block th:fragment="module">
    <div class="container-fluid my-5 show-on-pc">
        <h1 class="text-center mb-5 wow slideInUp" data-wow-delay="0.1s" th:text="${metals['metals.module9.1']}"></h1>
        <div class="row g-0 px-5 justify-content-center ">
            <div class="col-3 wow slideInLeft" data-wow-delay="0.1s">
                <div class="mb-5 px-2">
                    <h5 class="mb-3" th:text="${metals['metals.module9.2']}"></h5>
                    <small th:text="${metals['metals.module9.3']}"></small>
                </div>
                <div class="px-2">
                    <h5 class="mb-3" th:text="${metals['metals.module9.6']}"></h5>
                    <small th:text="${metals['metals.module9.7']}"></small>
                </div>
            </div>
            <div class="col-5 p-5 d-flex align-items-center justify-content-center position-relative wow fadeIn" data-wow-delay="0.1s">
                <img src="/img/metals/module9/1.png"  style="width: 100%" alt="">
                <h1 class="position-absolute mb-0" style="left: 50%;top: 50%;transform: translate(-50%,-50%)" th:utext="${metals['metals.module9.10']}"></h1>
            </div>
            <div class="col-3 wow slideInRight" data-wow-delay="0.1s">
                <div class="mb-5  px-2">
                    <h5 class="mb-3" th:text="${metals['metals.module9.4']}"></h5>
                    <small th:text="${metals['metals.module9.5']}"></small>
                </div>
                <div class="px-2">
                    <h5 class="mb-3" th:text="${metals['metals.module9.8']}"></h5>
                    <small th:text="${metals['metals.module9.9']}"></small>
                </div>
            </div>

        </div>
    </div>
</th:block>

