<th:block th:fragment="module">
    <div class="container p-0 mt-5">
        <div class="row g-0 justify-content-center">
            <div class="col-lg-10 col-12 py-lg-5 p-3 pb-lg-0">
                <h1 class="text-center mb-lg-5" th:text="${indices['indices.module7.1']}"></h1>
                <table class="table table-striped table-bordered border-1">
                    <thead class="indices-table">
                    <tr>
                        <th rowspan="2" th:text="${indices['indices.module7.1.1']}">Symbols</th>
                        <th rowspan="2" th:text="${indices['indices.module7.1.2']}">Products</th>
                        <th colspan="2" th:text="${indices['indices.module7.1.3']}">Standard Account</th>
                        <th colspan="2" th:text="${indices['indices.module7.1.4']}">ECN Account</th>
                    </tr>
                    <tr>
                        <th th:text="${indices['indices.module7.1.5']}">Min</th>
                        <th th:text="${indices['indices.module7.1.6']}">Average</th>
                        <th th:text="${indices['indices.module7.1.7']}">Minimum</th>
                        <th th:text="${indices['indices.module7.1.8']}">Average</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="item :${table1}">
                        <tr>
                            <td class="text-center" th:text="${item.Symbols}"></td>
                            <td class="text-center" th:text="${item.Products}"></td>
                            <td class="text-center"><b th:text="${item.StandardMin}" style="color: red"></b></td>
                            <td class="text-center" style="color: red" th:text="${item.StandardAverage}"></td>
                            <td class="text-center" ><b th:text="${item.ECNMin}" style="color: green"></b></td>
                            <td class="text-center" th:text="${item.ECNAverage}" style="color: green"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-10 col-12 py-lg-5 p-3 pb-lg-0">
                <h1 class="text-center mb-lg-5" th:text="${indices['indices.module7.2']}"></h1>
                <table class="table table-striped table-bordered border-1">
                    <thead class="indices-table">
                    <tr>
                        <th colspan="3" th:text="${indices['indices.module7.3.1']}">Symbols</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center" th:text="${indices['indices.module7.3.2']}"></td>
                            <td class="text-center" th:text="${indices['indices.module7.3.3']}"></td>
                            <td class="text-center" style="color: red" th:text="${indices['indices.module7.3.4']}"></td>
                        </tr>
                        <tr>
                            <td class="text-center" th:text="${indices['indices.module7.3.5']}"></td>
                            <td class="text-center" th:text="${indices['indices.module7.3.6']}"></td>
                            <td class="text-center" style="color: red" th:text="${indices['indices.module7.3.7']}"></td>
                        </tr>
                        <tr>
                            <td class="text-center" th:text="${indices['indices.module7.3.8']}"></td>
                            <td class="text-center" th:text="${indices['indices.module7.3.9']}"></td>
                            <td class="text-center"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
