<!-- bg Start -->
<th:block th:fragment="module">
    <div class="container-fluid  p-0 my-5 show-on-pc">
        <div class="bg1">
            <img src="/img/metals/module10/1.png" style="width: 100%;position: relative" alt="">
            <div class="bg1-content p-lg-3 p-3">
                <h2 class="text-white" th:text="${indices['indices.module11.1']}"></h2>
                <p class="fs-4 text-white" th:text="${indices['indices.module11.2']}"></p>
                <p class="green-color fs-5 wow slideInLeft" data-wow-delay="0.1s"
                   th:text="${indices['indices.module11.3.1']}"></p>
                <p class="text-white  wow slideInLeft" data-wow-delay="0.1s"
                   th:text="${indices['indices.module11.3.2']}"></p>

                <p class="green-color fs-5 wow slideInLeft" data-wow-delay="0.1s"
                   th:text="${indices['indices.module11.4.1']}"></p>
                <p class="text-white wow slideInLeft" data-wow-delay="0.1s"
                   th:text="${indices['indices.module11.4.2']}"></p>

                <p class="green-color fs-5 wow slideInLeft" data-wow-delay="0.1s"
                   th:text="${indices['indices.module11.5.1']}"></p>
                <p class="text-white  wow slideInLeft" data-wow-delay="0.1s"
                   th:text="${indices['indices.module11.5.2']}"></p>

                <p class="green-color fs-5 wow slideInLeft" data-wow-delay="0.1s"
                   th:text="${indices['indices.module11.6.1']}"></p>
                <p class="text-white fs-5 wow slideInLeft" data-wow-delay="0.1s"
                   th:text="${indices['indices.module11.6.2']}"></p>

                <p class="green-color fs-5 wow slideInLeft" data-wow-delay="0.1s"
                   th:text="${indices['indices.module11.7.1']}"></p>
                <p class="text-white  wow slideInLeft" data-wow-delay="0.1s"
                   th:text="${indices['indices.module11.7.2']}"></p>
            </div>
        </div>
    </div>
</th:block>
<!-- bg End -->
