<!-- bg Start -->
<th:block th:fragment="module">
    <div class="container-fluid  p-0 my-5">
        <h1 class="text-center mb-5 wow slideInLeft" data-wow-delay="0.1s">
            <b th:text="${forex['forex.module4.1']}"></b>
        </h1>
        <div class="row g-0 justify-content-around wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-3 col-12 p-lg-3 p-2 gray-bg-color mb-3">
                <div class="d-flex align-items-center mb-3">
                    <img src="/img/forex/module4/1.png" class="me-2" alt="">
                    <p class="mb-0"><b th:text="${forex['forex.module4.2.1']}">Customize with ease</b></p>
                </div>
                <small th:text="${forex['forex.module4.2.2']}"></small>
            </div>
            <div class="col-lg-3 col-12 p-lg-3 p-2 gray-bg-color  mb-3">
                <div class="d-flex align-items-center mb-3">
                    <img src="/img/forex/module4/1.png" class="me-2" alt="">
                    <p class="mb-0"><b th:text="${forex['forex.module4.3.1']}">Perfectly Responsive</b></p>
                </div>
                <small th:text="${forex['forex.module4.3.2']}"></small>
            </div>
            <div class="col-lg-3 col-12 p-lg-3 p-2 gray-bg-color  mb-3">
                <div class="d-flex align-items-center mb-3">
                    <img src="/img/forex/module4/1.png" class="me-2" alt="">
                    <p class="mb-0"><b th:text="${forex['forex.module4.4.1']}">Friendly Support</b></p>
                </div>
                <small th:text="${forex['forex.module4.4.2']}"></small>
            </div>
        </div>
    </div>
</th:block>
<!-- bg End -->
