<!-- bg Start -->
<th:block th:fragment="module">
    <div class="container-fluid  p-0 my-5">
        <h1 class="text-center mb-3" th:text="${indices['indices.module12.1']}"></h1>
        <div class="accordion p-3" id="accordionExample">
            <div class="card  mb-2 border-0">
                <div class="gray-bg-color d-flex align-items-center justify-content-between p-3  user-select-none"
                     id="headingOne" data-toggle="collapse"
                     data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div>
                        <h2 class="d-inline me-3">01</h2>
                        <p class="d-inline mb-0" th:text="${indices['indices.module12.2.1']}"></p>
                    </div>
                    <div class="qa-icon">
                        <i class="bi bi-x-circle-fill fs-3"></i>
                    </div>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <p th:text="${indices['indices.module12.2.2']}"></p>
                    </div>
                </div>
            </div>
            <div class="card mb-2 border-0">
                <div class="gray-bg-color d-flex align-items-center justify-content-between p-3  user-select-none"
                     id="headingTwo" data-toggle="collapse"
                     data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div>
                        <h2 class="d-inline me-3">02</h2>
                        <p class="d-inline mb-0" th:text="${indices['indices.module12.3.1']}"></p>
                    </div>
                    <div class="qa-icon">
                        <i class="bi bi-plus-circle fs-3"></i>
                    </div>
                </div>
                <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <p th:text="${indices['indices.module12.3.2']}"></p>
                    </div>
                </div>
            </div>
            <div class="card mb-2 border-0">
                <div class="gray-bg-color d-flex align-items-center justify-content-between p-3  user-select-none"
                     id="headingThree" data-toggle="collapse"
                     data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <div>
                        <h2 class="d-inline me-3">03</h2>
                        <p class="d-inline mb-0" th:text="${indices['indices.module12.4.1']}"></p>
                    </div>
                    <div class="qa-icon">
                        <i class="bi bi-plus-circle fs-3"></i>
                    </div>
                </div>
                <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <p th:text="${indices['indices.module12.4.2']}"></p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            let elements = ['collapseOne', 'collapseTwo', 'collapseThree'];
            elements.forEach(function (id) {
                $('#' + id).on('hide.bs.collapse', function () {
                    $("#" + this.id).prev().find('.qa-icon').html(' <i class="bi bi-plus-circle fs-3"></i>')
                });

                $('#' + id).on('show.bs.collapse', function () {
                    $("#" + this.id).prev().find('.qa-icon').html(' <i class="bi bi-x-circle-fill fs-3"></i>')
                });
            });
        </script>
    </div>
</th:block>
<!-- bg End -->
