<th:block th:fragment="module">
    <div class="container-fluid mt-lg-5 my-5 p-5">
        <div class="mb-5 wow slideInLeft text-center" data-wow-delay="0.1s">
            <h1 class="mb-5">
                ATOM Licenses
            </h1>
            <p class="fs-5">
                Your funds protection and security are top of your mind, so they’re top of ours too. Your ATOM trading
                account is covered by our highly secure framework and allows you to deposit with confidence.
                ATOM is regulated globally by several authorities to protect you and your funds.
            </p>
        </div>

        <div class="mb-5 wow slideInLeft text-center" data-wow-delay="0.1s">
            <h1 class="mb-5">
                Supervision
            </h1>
            <p class="fs-5">
                ATOM operates under the supervision of leading industry regulatory bodies and strict internal
                management.
                Our operations are bound by a series of local and regional regulations, and we strictly adhere to
                relevant rules and obligations. These rules include capital requirements, which mandate that we maintain
                a certain level of capital to conduct trading.
                Regulatory adjustments are aligned with European regulations, including new data protection laws. These
                regulations govern how we manage and use the personal information you provide to us, ensuring the
                protection of your personal rights.
            </p>
        </div>

        <div class="mb-5 wow slideInLeft text-center" data-wow-delay="0.1s">
            <h1 class="mb-5">
                Who are the Regulators?
            </h1>
            <p class="fs-5">
                ATOM MARKETS LTD is authorized and regulated by the National Futures Association (NFA) in the United
                States.
                </br>
                </br>
                ATOM MARKETS LTD is also regulated by the Australian Securities and Investments Commission (ASIC) as a
                licensed provider of over-the-counter derivatives.
            </p>
        </div>
    </div>
</th:block>
