<th:block th:fragment="module">
    <div class="container-fluid mt-lg-5 my-5">
        <div class="row g-0 justify-content-around">
            <div class="col-lg-10 col-12 mb-5 wow slideInLeft" data-wow-delay="0.1s">
                <h1 class="mb-5">
                    Ways to Trade Financial Markets with ATOM
                </h1>
                <p class="fs-5">
                    We offer two of the most popular methods for trading financial markets, allowing you to trade in
                    both
                    rising and falling markets.
                    Whichever path you choose, you can experience lightning-fast execution speeds and some of the lowest
                    trading costs in the industry through the MT4 platform.
                </p>
            </div>

            <div class="col-lg-10 col-12 mb-5 wow slideInLeft" data-wow-delay="0.1s">
                <h1 class="mb-5">
                    CFDs
                </h1>
                <p class="fs-5">
                    To trade these markets, we provide you with fast access to the financial markets – through contracts
                    for
                    difference (CFDs).
                <ul>
                    <li>Trade without owning the underlying asset</li>
                    <li>Trade in both directions, long and short</li>
                    <li>Trade any market 24/5</li>
                    <li>Receive negative balance protection</li>
                </ul>
            </div>

            <div class="col-lg-10 col-12 mb-5 wow slideInLeft" data-wow-delay="0.1s">
                <h1 class="mb-5">
                    Spread betting
                </h1>
                <p class="fs-5">
                    SPREAD betting is a unique form of market access available to U.K. residents.
                <ul>
                    <li>Pay no capital gains tax</li>
                    <li>Receive negative balance protection</li>
                    <li>Trade without owning the underlying asset</li>
                    <li>Pay no commission, only the spread</li>
                </ul>
                <p class="fs-5">
                    Tax laws vary according to your jurisdiction and individual circumstances. You should always seek
                    independent tax advice.
                    Subject to account type.
                </p>
            </div>

            <div class="col-lg-10 col-12 mb-5 wow slideInLeft" data-wow-delay="0.1s">
                <h1 class="mb-5">
                    Benefits of Market Trading With ATOM
                </h1>
                <p class="fs-5">
                    SPREAD betting is a unique form of market access available to U.K. residents.
                <ul>
                    <li>Industry competitive spreads – We offer some of the lowest spreads in the industry, so you get the best value possible</li>
                    <li>First class customer support – On our priority list, you come first, second and third</li>
                    <li>Wide range of global markets – Trade the largest and most popular financial markets</li>
                    <li>Regulated broker – Regulated and authorised in multiple jurisdictions</li>
                    <li>Advanced education&tools– The best tool we can provide you is the best education. When you’re successful, we’re successful</li>
                    <li>Award-winning trading services – Get superfast trade execution and the essential orders to take your trading to the next level</li>
                </ul>
            </div>
        </div>


    </div>
</th:block>
