<th:block th:fragment="module">
    <div class="container-fluid mt-lg-5 my-5 p-5">
        <div class="mb-5 wow slideInLeft text-center" data-wow-delay="0.1s">
            <h1 class="mb-5" th:text="${licenses['licenses.module2.1.1']}"></h1>
            <p class="fs-5" th:text="${licenses['licenses.module2.1.2']}"></p>
        </div>

        <div class="mb-5 wow slideInLeft text-center" data-wow-delay="0.1s">
            <h1 class="mb-5" th:text="${licenses['licenses.module2.2.1']}"></h1>
            <p class="fs-5" th:text="${licenses['licenses.module2.2.2']}"></p>
        </div>

        <div class="mb-5 wow slideInLeft text-center" data-wow-delay="0.1s">
            <h1 class="mb-5" th:text="${licenses['licenses.module2.3.1']}"></h1>
            <p class="fs-5" th:utext="${licenses['licenses.module2.3.2']}"></p>
        </div>
    </div>
</th:block>
