<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="common/include :: head"></th:block>
    <meta content="AM Broker" name="keywords">
    <meta content="AM Broker" name="description">
</head>

<body>
<div class="container-xxl bg-white p-0">
    <th:block th:include="common/include :: menu"></th:block>

    <th:block th:include="common/include :: subBanner(src, text)"
              th:with="src='/img/stock/module1/1.png',text=${menu['menu.products.stock']}"></th:block>

    <th:block th:include="stock/include/module2 :: module"></th:block>

    <th:block th:include="stock/include/module3 :: module"></th:block>

    <th:block th:include="common/include :: footer"></th:block>
</div>
<th:block th:include="common/include :: js"></th:block>
</body>
</html>
