<th:block th:fragment="module">
    <div class="container-fluid mt-lg-5 my-5 p-5">
        <div class="mb-5">
            <h1 class="mb-5" th:text="${aboutUs['aboutUs.item2.module2.1']}"></h1>
            <p class="fs-5" th:text="${aboutUs['aboutUs.item2.module2.2']}"></p>
        </div>
        <div class="pt-5">
            <h1 class="mb-5" th:text="${aboutUs['aboutUs.item2.module2.3']}"></h1>
            <p class="fs-5" th:text="${aboutUs['aboutUs.item2.module2.4']}"></p>
        </div>
    </div>
</th:block>
