<!-- banner Start -->
<th:block th:fragment="module">
    <div class="container-fluid header bg-white p-0 mt-2 show-on-pc">
        <div class="position-relative banner-bg-img">
            <img src="/img/cfds/module1/1.png" alt="">
            <div class="position-absolute">
                <h1 class="text-white" th:text="${menu['menu.products.cfds']}"></h1>
                <th:block th:include="common/include :: trading"></th:block>
            </div>
        </div>
    </div>
</th:block>
<!-- banner End -->
