<!-- bg Start -->
<th:block th:fragment="module">
    <div class="container  p-0 my-2">
        <h1 class="text-center mb-5"><b th:text="${metals['metals.module7.1']}"></b></h1>
        <div class="row g-0 justify-content-center">
            <div class="col-lg-9 col-12">
                <div class="row g-0 justify-content-center">
                    <div class="col-lg-6 col-12 p-2 wow slideInLeft" data-wow-delay="01.s">
                        <img src="/img/metals/module7/1.png" style="width: 100%" alt="">
                    </div>
                    <div class="col-lg-6 col-12 p-2">
                        <div class="d-flex wow slideInRight" data-wow-delay="0.1s">
                            <h3 class="primary-color pe-4">01</h3>
                            <p th:text="${metals['metals.module7.2']}"></p>
                        </div>
                        <hr/>
                        <div class="d-flex wow slideInRight" data-wow-delay="0.2s">
                            <h3 class="primary-color pe-4">02</h3>
                            <p th:text="${metals['metals.module7.3']}"></p>
                        </div>
                        <hr/>
                        <div class="d-flex wow slideInRight" data-wow-delay="0.3s">
                            <h3 class="primary-color pe-4">03</h3>
                            <p th:text="${metals['metals.module7.4']}"></p>
                        </div>
                        <hr/>
                        <div class="d-flex wow slideInRight" data-wow-delay="0.4s">
                            <h3 class="primary-color pe-4">04</h3>
                            <p th:text="${metals['metals.module7.5']}"></p>
                        </div>
                        <hr/>
                    </div>


                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- bg End -->
