<!-- bg Start -->
<th:block th:fragment="module">
    <div class="container-fluid  p-0 mt-2 show-on-pc">
        <div class="bg1">
            <img src="/img/metals/module10/1.png" style="width: 100%;position: relative" alt="">
            <div class="bg1-content p-lg-3 p-3">
                <h1 class="text-white" th:text="${metals['metals.module10.1']}"></h1>
                <div class="mt-4 wow slideInLeft" data-wow-delay="0.1s">
                    <h3  class="text-white" th:text="${metals['metals.module10.2']}"></h3>
                    <span class=" text-white" th:text="${metals['metals.module10.3']}"></span>
                </div>
                <div class="mt-4 wow slideInLeft" data-wow-delay="0.2s">
                    <h3 class="text-white" th:text="${metals['metals.module10.4']}"></h3>
                    <span class="text-white" th:text="${metals['metals.module10.5']}"></span>
                </div>
                <div class="mt-4 wow slideInLeft" data-wow-delay="0.3s">
                    <h3 class="text-white" th:text="${metals['metals.module10.6']}"></h3>
                    <span class="text-white" th:text="${metals['metals.module10.7']}"></span>
                </div>
                <div class="mt-4 wow slideInLeft" data-wow-delay="0.4s">
                    <h3 class="text-white" th:text="${metals['metals.module10.8']}"></h3>
                    <span class="text-white" th:text="${metals['metals.module10.9']}"></span>
                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- bg End -->
