<!-- Category Start -->
<th:block th:fragment="module">
    <div class="container-fluid mt-lg-5 mt-3">
        <div class="row g-0 justify-content-center text-center mx-auto mb-5">
            <div class="col-lg-11 col-12 ">
                <div class="category-body row g-0 p-lg-5" style="background: #EEF4FA">
                    <img src="/img/cryptocurrency/module2/1.png" style="width: auto;margin: auto" alt="">
                    <h2 class="my-4 wow fadeInUp" data-wow-delay="0.1s">
                        <b th:text="${metals['metals.module2.1']}"></b>
                    </h2>
                    <h5 class="my-4 wow fadeInUp" data-wow-delay="0.1s">
                        <b th:text="${metals['metals.module2.2']}"></b>
                    </h5>
                    <p><b th:text="${metals['metals.module2.3']}"></b></p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">

        </div>
    </div>
</th:block>
<!-- Category End -->
