<!-- bg Start -->
<th:block th:fragment="module">
    <div class="container  p-0 my-5">
        <h1 class="text-center mb-5"><b th:text="${metals['metals.module7.1']}"></b></h1>
        <div class="row g-0 justify-content-around">
            <div class="col-lg-2 col-6 text-center">
                <a href="/forex">
                    <img src="/img/platform/module5/1.png" alt="">
                    <h5 class="my-1 text-black-50" ><b th:text="${menu['menu.products.forex']}"></b></h5>
                    <p class="text-black-50" th:text="${platform['platform.module5.2']}"></p>
                </a>
            </div>
            <div class="col-lg-2 col-6">2</div>
            <div class="col-lg-2 col-6">3</div>
            <div class="col-lg-2 col-6">4</div>
            <div class="col-lg-2 col-6">5</div>
        </div>
    </div>
</th:block>
<!-- bg End -->
