<!-- bg Start -->
<th:block th:fragment="module">
    <div class="container  p-0 my-5">
        <div class="row g-0 justify-content-center text-center mx-auto mb-5">
            <div class="col-lg-11 col-12 ">
                <div class=" row g-0 p-lg-5">
                    <div class="row g-0 justify-content-around align-items-center mb-5 wow slideInLeft"
                         data-wow-delay="0.1s">
                        <div class="col-12 show-on-mobile mb-3">
                            <img src="/img/stock/module3/1.png" style="width: 100%" alt="">
                        </div>
                        <div class="col-lg-5 col-12 text-start px-1">
                            <h1 class="d-inline-block me-3">1</h1>
                            <h3 class="d-inline" style="line-height: 36px" th:text="${platform['platform.module7.1.1']}"></h3>
                            <p th:text="${platform['platform.module7.1.2']}"></p>
                        </div>
                        <div class="col-5 show-on-pc">
                            <img src="/img/stock/module3/1.png" style="width: 100%" alt="">
                        </div>
                    </div>
                    <div class="row g-0 justify-content-around align-items-center wow slideInRight"
                         data-wow-delay="0.1s">
                        <div class="col-lg-5 col-12 mb-3">
                            <img src="/img/stock/module3/2.png" style="width: 100%" alt="">
                        </div>
                        <div class="col-lg-5 col-12 text-start  px-1">
                            <h1 class="d-inline-block me-3">2</h1>
                            <h3 class="d-inline" style="line-height: 36px" th:text="${platform['platform.module7.2.1']}"></h3>
                            <p th:text="${platform['platform.module7.2.2']}"></p>
                        </div>
                    </div>
                    <div class="row g-0 justify-content-around align-items-center mb-5 wow slideInLeft"
                         data-wow-delay="0.1s">
                        <div class="col-12 show-on-mobile mb-3">
                            <img src="/img/stock/module3/3.png" style="width: 100%" alt="">
                        </div>
                        <div class="col-lg-5 col-12 text-start px-1">
                            <h1 class="d-inline-block me-3">3</h1>
                            <h3 class="d-inline" style="line-height: 36px" th:text="${platform['platform.module7.3.1']}"></h3>
                            <p th:text="${platform['platform.module7.3.2']}"></p>

                        </div>
                        <div class="col-5 show-on-pc">
                            <img src="/img/stock/module3/3.png" style="width: 100%" alt="">
                        </div>
                    </div>
                    <div class="row g-0 justify-content-around align-items-center wow slideInRight"
                         data-wow-delay="0.1s">
                        <div class="col-lg-5 col-12 mb-3">
                            <img src="/img/stock/module3/4.png" style="width: 100%" alt="">
                        </div>
                        <div class="col-lg-5 col-12 text-start  px-1">
                            <h1 class="d-inline-block me-3">4</h1>
                            <h3 class="d-inline" style="line-height: 36px" th:text="${platform['platform.module7.4.1']}"></h3>
                            <p class="d-inline" style="line-height: 36px" th:text="${platform['platform.module7.4.2']}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- bg End -->
