<th:block th:fragment="module">
    <div class="container p-0 my-5 gray-bg-color">
        <div class="row g-0 justify-content-center align-items-center wow fadeIn" data-wow-delay="0.1s">
            <div class="col-lg-6 col-12">
                <h1 th:text="${platform['platform.module4.1']}"></h1>
                <h5 class="my-5" th:text="${platform['platform.module4.2']}"></h5>
                <div class="row g-0 justify-content-between">
                    <a  onclick="jumpToLogin()" href="javascript:void(0)" target="_blank"
                       class="d-block col-lg-5  btn btn-primary fs-5 px-4 mb-3" th:text="${platform['platform.module4.3']}"></a>
                    <a  onclick="jumpToLogin()" href="javascript:void(0)" target="_blank"
                       class="d-block col-lg-5  btn btn-primary fs-5 px-4 mb-3" th:text="${platform['platform.module4.4']}"></a>
                </div>
            </div>
            <div class="col-lg-5 show-on-pc">
                <img src="/img/platform/module4/1.png" alt="" style="width: 100%">
            </div>
        </div>
    </div>
</th:block>
