<!-- bg Start -->
<th:block th:fragment="module">
    <div class="container  p-0 my-5">
        <h1 class="text-center mb-5 wow fadeIn" data-wow-delay="0.1s"><b th:text="${metals['metals.module7.1']}"></b></h1>
        <div class="row g-0 justify-content-around">
            <div class="col-lg-2 col-6 text-center wow fadeInUp" data-wow-delay="0.1s">
                <a href="/forex">
                    <img src="/img/platform/module5/1.png" alt="">
                    <h5 class="my-3 text-black-50" ><b th:text="${menu['menu.products.forex']}"></b></h5>
                    <p class="text-black-50" th:text="${platform['platform.module5.2']}"></p>
                </a>
            </div>
            <div class="col-lg-2 col-6 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a href="/cfds">
                    <img src="/img/platform/module5/2.png" alt="">
                    <h5 class="my-3 text-black-50" ><b th:text="${menu['menu.products.cfds']}"></b></h5>
                    <p class="text-black-50" th:text="${platform['platform.module5.3']}"></p>
                </a>
            </div>
            <div class="col-lg-2 col-6 text-center wow fadeInUp" data-wow-delay="0.3s">
                <a href="/commodities">
                    <img src="/img/platform/module5/3.png" alt="">
                    <h5 class="my-3 text-black-50" ><b th:text="${menu['menu.products.commodities']}"></b></h5>
                    <p class="text-black-50" th:text="${platform['platform.module5.4']}"></p>
                </a>
            </div>
            <div class="col-lg-2 col-6 text-center wow fadeInUp" data-wow-delay="0.4s">
                <a href="/indices">
                    <img src="/img/platform/module5/4.png" alt="">
                    <h5 class="my-3 text-black-50" ><b th:text="${menu['menu.products.indices']}"></b></h5>
                    <p class="text-black-50" th:text="${platform['platform.module5.5']}"></p>
                </a>
            </div>
            <div class="col-lg-2 col-6 text-center wow fadeInUp" data-wow-delay="0.5s">
                <a href="/cryptocurrency">
                    <img src="/img/platform/module5/5.png" alt="">
                    <h5 class="my-3 text-black-50" ><b th:text="${menu['menu.products.cryptocurrency']}"></b></h5>
                    <p class="text-black-50" th:text="${platform['platform.module5.6']}"></p>
                </a>
            </div>
        </div>
    </div>
</th:block>
<!-- bg End -->
