.m3-1 {
    background: url(/img/aboutUs/module3/m3.png) -0px -0px no-repeat;
    width: 48px;
    height:48px;
}
.m3-2 {
    background: url(/img/aboutUs/module3/m3.png) -48px -0px no-repeat;
    width: 48px;
    height:48px;
}
.m3-3 {
    background: url(/img/aboutUs/module3/m3.png) -96px -0px no-repeat;
    width: 48px;
    height:48px;
}
.m3-4 {
    background: url(/img/aboutUs/module3/m3.png) -144px -0px no-repeat;
    width: 48px;
    height:48px;
}
.m3-5 {
    background: url(/img/aboutUs/module3/m3.png) -192px -0px no-repeat;
    width: 48px;
    height:48px;
}
.m3-6 {
    background: url(/img/aboutUs/module3/m3.png) -240px -0px no-repeat;
    width: 48px;
    height:48px;
}
