.m2-1 {
    background: url(/img/home/module2/m2.png) -0px -0px no-repeat;
    width: 54px;
    height:54px;
}
.m2-2 {
    background: url(/img/home/module2/m2.png) -54px -0px no-repeat;
}
.m2-3{
    background: url(/img/home/module2/m2.png) -108px -0px no-repeat;
}
.m2-4{
    background: url(/img/home/module2/m2.png) -162px -0px no-repeat;
}

.m8-1{
    background: url(/img/home/module8/m8.png) -0px -0px no-repeat;
    width: 50px;
    height:50px;
    background-size: auto 50px;
}

.m8-2{
    background: url(/img/home/module8/m8.png) -50px -0px no-repeat;
    background-size: auto 50px;
}
.m8-3{
    background: url(/img/home/module8/m8.png) -100px -0px no-repeat;
    background-size: auto 50px;
}
.m8-4{
    background: url(/img/home/module8/m8.png) -150px -0px no-repeat;
    background-size: auto 50px;
}