<th:block th:fragment="module">
    <div class="container-fluid p-0 mb-5">
        <div class="bg1 show-on-pc wow fadeIn" data-wow-delay="0.1s"
             style="background-image: url('/img/forex/module5/1.png');padding-top: 30%">
<!--            <div class="p-5" style="position: relative;left: 0;width: 100%;background: rgba(0,0,0,.3)">-->
<!--                <div style="width: 60%">-->
<!--                    <h3 class="box-before text-white" th:text="${home['home.module5.1']}"></h3>-->
<!--                    <p class="text-white" th:text="${home['home.module5.2']}"></p>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="row g-0 p-0 wow fadeInUp" data-wow-delay="0.2s">
<!--            <div class="col-lg-4 p-2">-->
<!--                <div class="primary-bg-color text-white p-4">-->
<!--                    <h5 class="text-white" th:text="${home['home.module5.3.1']}"></h5>-->
<!--                    <h3 class="text-white" th:text="${home['home.module5.3.2']}"></h3>-->
<!--                    <p th:text="${home['home.module5.3.3']}"></p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 p-2">-->
<!--                <div class="primary-bg-color text-white p-4">-->
<!--                    <h5 class="text-white" th:text="${home['home.module5.4.1']}"></h5>-->
<!--                    <h3 class="text-white" th:text="${home['home.module5.4.2']}"></h3>-->
<!--                    <p th:text="${home['home.module5.4.3']}"></p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 p-2">-->
<!--                <div class="primary-bg-color text-white p-4">-->
<!--                    <h5 class="text-white" th:text="${home['home.module5.5.1']}"></h5>-->
<!--                    <h3 class="text-white" th:text="${home['home.module5.5.2']}"></h3>-->
<!--                    <p  th:text="${home['home.module5.5.3']}"></p>-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
</th:block>
