<th:block th:fragment="module">
    <div class="container-fluid mt-lg-5 my-5 p-5">
        <div class="mb-5 wow slideInLeft" data-wow-delay="0.1s">
            <h1 class="mb-5" th:text="${aboutUs['aboutUs.item2.module5.1.1']}"></h1>
            <p class="fs-5" th:text="${aboutUs['aboutUs.item2.module5.1.2']}"></p>
        </div>
        <div class="pt-5 wow slideInLeft" data-wow-delay="0.2s">
            <h1 class="mb-5" th:text="${aboutUs['aboutUs.item2.module5.2.1']}"></h1>
            <p class="fs-5" th:text="${aboutUs['aboutUs.item2.module5.2.2']}"></p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.2.2']}"></span>
            </p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.2.3']}"></span>
            </p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.2.4']}"></span>
            </p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.2.5']}"></span>
            </p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.2.6']}"></span>
            </p>
        </div>
        <div class="pt-5 wow slideInLeft" data-wow-delay="0.3s">
            <h1 class="mb-5" th:text="${aboutUs['aboutUs.item2.module5.3.1']}"></h1>
            <p class="fs-5" th:text="${aboutUs['aboutUs.item2.module5.3.2']}"></p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.3.3']}"></span>
            </p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.3.4']}"></span>
            </p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.3.5']}"></span>
            </p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.3.6']}"></span>
            </p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.3.7']}"></span>
            </p>
        </div>
        <div class="pt-5 wow slideInLeft" data-wow-delay="0.1s">
            <h1 class="mb-5" th:text="${aboutUs['aboutUs.item2.module5.4.1']}"></h1>
            <p class="fs-5" th:text="${aboutUs['aboutUs.item2.module5.4.2']}"></p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.4.3']}"></span>
            </p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.4.4']}"></span>
            </p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.4.5']}"></span>
            </p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.4.6']}"></span>
            </p>
            <p class="fs-5">
                <i class="box-before"></i><span th:text="${aboutUs['aboutUs.item2.module5.4.7']}"></span>
            </p>
        </div>
    </div>
</th:block>
