<th:block th:fragment="module">
    <div class="container-fluid mt-lg-5 my-5">
        <div class="row g-0 text-center mx-auto">
            <div class="col-lg-11 col-12 ">
                <div class="category-body row g-0" style="background: #EEF4FA">
                    <div class="row g-0 align-items-center wow slideInLeft"
                         data-wow-delay="0.1s">
                        <div class="col-6 show-on-pc">
                            <img src="/img/aboutUs/module7/1.png" style="width: 100%" alt="">
                        </div>
                        <div class="col-lg-5 col-12 text-start px-5">
                            <h1 class="mb-3 wow fadeInUp" data-wow-delay="0.1s">
                                <b th:text="${aboutUs['aboutUs.module7.1']}"></b>
                            </h1>
                            <a href="">
                                <h5>
                                    <i class="box-before"></i><span th:text="${aboutUs['aboutUs.module7.2']}"></span>
                                </h5>
                            </a>
                            <a href="">
                                <h5>
                                    <i class="box-before"></i><span th:text="${aboutUs['aboutUs.module7.3']}"></span>
                                </h5>
                            </a>
                            <a href="">
                                <h5>
                                    <i class="box-before"></i><span th:text="${aboutUs['aboutUs.module7.4']}"></span>
                                </h5>
                            </a>
                            <a href="">
                                <h5>
                                    <i class="box-before"></i><span th:text="${aboutUs['aboutUs.module7.5']}"></span>
                                </h5>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
