<th:block th:fragment="module">
    <div class="container-fluid mt-lg-5 my-5">
        <div class="row g-0 justify-content-center text-center mx-auto px-5">
            <div class="col-lg-4 p-3">
                <img src="/img/aboutUs/module3/1.png" alt="">
                <h4 class="my-3" th:text="${aboutUs['aboutUs.module3.1.1']}"></h4>
                <p th:text="${aboutUs['aboutUs.module3.1.2']}"></p>
            </div>
            <div class="col-lg-4 p-3">
                <img src="/img/aboutUs/module3/2.png" alt="">
                <h4 class="my-3" th:text="${aboutUs['aboutUs.module3.2.1']}"></h4>
                <p th:text="${aboutUs['aboutUs.module3.2.2']}"></p>
            </div>
            <div class="col-lg-4 p-3">
                <img src="/img/aboutUs/module3/3.png" alt="">
                <h4 class="my-3" th:text="${aboutUs['aboutUs.module3.3.1']}"></h4>
                <p th:text="${aboutUs['aboutUs.module3.3.2']}"></p>
            </div>
        </div>
        <div class="row g-0 justify-content-center text-center mx-auto mb-5 px-5">
            <div class="col-lg-4 p-3">
                <img src="/img/aboutUs/module3/4.png" alt="">
                <h4 class="my-3" th:text="${aboutUs['aboutUs.module3.4.1']}"></h4>
                <p th:text="${aboutUs['aboutUs.module3.4.2']}"></p>
            </div>
            <div class="col-lg-4 p-3">
                <img src="/img/aboutUs/module3/5.png" alt="">
                <h4 class="my-3" th:text="${aboutUs['aboutUs.module3.5.1']}"></h4>
                <p th:text="${aboutUs['aboutUs.module3.5.2']}"></p>
            </div>
            <div class="col-lg-4 p-3">
                <img src="/img/aboutUs/module3/6.png" alt="">
                <h4 class="my-3" th:text="${aboutUs['aboutUs.module3.6.1']}"></h4>
                <p th:text="${aboutUs['aboutUs.module3.6.2']}"></p>
            </div>
        </div>
    </div>
</th:block>
