<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <th:block th:include="common/include :: head"></th:block>
    <style>

    </style>
</head>

<body class="primary-bg-color" style="height: 100%;display: flex">

<div class="login-dialog">
    <div class="mb-2 d-flex justify-content-between">
        <div>
            <h1 class="text-white">Login</h1>
        </div>
        <div>
            <th:block th:include="common/include :: lang"></th:block>
            <div class="show-on-mobile my-3" style="text-align: center">
                <img src="/img/logo.png" style="max-width: 250px" alt="">
            </div>
        </div>
    </div>
    <div class="text-center p-md-5 rounded-3 bg-white d-flex">
        <div class="show-on-pc me-3" style="max-width: 300px">
            <img src="/img/logo.png" class="mb-2" style="width: 150px" alt="">
            <h1 class="primary-color">AM-Broker</h1>
            <button data-toggle="modal" data-target="#exampleModal">aaa</button>
            <p style="font-size: 12px" class="form-control-sm mt-3 primary-color">
                <b>ATOM BROKER is the most trusted and respected
                    forex broker in the industry,
                    providing clients with exceptional trading experiences
                    and innovative financial solutions.</b>
            </p>
        </div>
        <div class="p-3 text-center flex-fill">
            <p class="show-on-mobile mb-5"><b>登入您的客户专区</b></p>
            <form action="/do/login" method="post">
                <input type="text" class="form-control border-0 py-2 mb-4 input-bg-color"
                       placeholder="E-mail" id="mail"
                       autocomplete="off">
                <input type="password" class="form-control border-0 py-2 mb-1 input-bg-color"
                       placeholder="密码" id="password"
                       autocomplete="off">
                <div class="float-end">
                    <a href="/"><small>Forgot Password?</small></a>
                </div>
                <input type="submit" class="btn btn-primary w-100 py-3 my-3" value="Login">
                <a href="/register">Register</a>
            </form>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-end" >
                        <div class="me-3">
                            <img src="/img/logo.png" width="50" alt="">

                        </div>
                        <span class="primary-color mb-0" style="font-size: 24px"><b>AM-Broker</b></span>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="fs-5 primary-color mb-3">Restrictions on Use</p>
                    <p> Products and Services on this website are not suitable for Hong Kong residents. Such information
                        and materials should not be regarded as or constitute a distribution, an offer, solicitation to
                        buy or sell any investments.
                    </p>
                    <p> 使用限制:
                        本網站的產品及服務不適合香港居民使用。網站內部的信息和素材不應被視為分銷，要約，買入或賣出任何投資產品。
                    </p>

                </div>
            </div>
        </div>
    </div>

</div>


<!-- JavaScript Libraries -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>


<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>
