<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="common/include :: head"></th:block>
    <meta content="AM Broker" name="keywords">
    <meta content="AM Broker" name="description">
</head>

<body>
<div class="container-xxl bg-white p-0 pb-3">
    <th:block th:include="common/include :: menu"></th:block>

    <th:block th:include="common/include :: subBanner(src, text)"
              th:with="src='/img/commodities/module1/1.png',text=${menu['menu.products.commodities']}"></th:block>

    <th:block th:include="commodities/include/module3 :: module"></th:block>

    <th:block th:include="commodities/include/module4 :: module"></th:block>


    <th:block th:include="commodities/include/module5 :: module"></th:block>

    <th:block th:include="commodities/include/module6 :: module"></th:block>

    <th:block th:include="common/include :: footer"></th:block>
</div>

<th:block th:include="common/include :: js"></th:block>
</body>
</html>
