<th:block th:fragment="module">
    <div class="container-fluid p-0 my-5">
        <div class="mb-5">
            <p class="text-center wow fadeIn" data-wow-delay="0.1s">
                <span class="box-before" th:text="${home['home.module8.1']}">We Are Expertise In</span>
            </p>
            <h1 class="primary-color text-center wow slideInLeft" data-wow-delay="0.2s">
                <b th:text="${home['home.module8.2']}"></b>
            </h1>
            <h5 class="primary-color text-center wow slideInRight" data-wow-delay="0.3s"
                th:text="${home['home.module8.3']}"></h5>
        </div>
        <div class="row g-0 mt-3 wow fadeIn" data-wow-delay="0.1s" >
            <div class="col-lg-8 col-sm-12 p-0" style="background-image: url('/img/home/module8/5.png');background-size: 100% 100%">
                <div class="d-flex align-items-center justify-content-center border" style="height: 150px">
                    <div class="text-center">
                        <small class="text-white" th:text="${home['home.module8.4']}"></small>
                        <h1 class="mb-0 text-white">$<span id="number1"></span>+</h1>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center border" style="height: 150px">
                    <div class="text-center">
                        <small class="text-white" th:text="${home['home.module8.5']}"></small>
                        <h1 class="mb-0 text-white"><span id="number2"></span>+</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 d-flex align-items-center justify-content-center flex-wrap p-0 gray-bg-color">
                <div class="d-flex align-items-center justify-content-center" style="width: 50%;height: 150px">
                    <div class="text-center">
                        <img src="/img/home/module8/1.png" width="48" alt="">
                        <b class="d-block fs-5"><span id="number3">254000</span>+</b>
                        <p class="primary-color" th:text="${home['home.module8.6']}"></p>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="width: 50%;height: 150px">
                    <div class="text-center">
                        <img src="/img/home/module8/2.png" width="48" alt="">
                        <b class="d-block fs-5"><span id="number4">260000</span>+</b>
                        <p class="primary-color" th:text="${home['home.module8.7']}"></p>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="width: 50%;height: 150px">
                    <div class="text-center">
                        <img src="/img/home/module8/3.png" width="48" alt="">
                        <b class="d-block fs-5"><span id="number5">6500</span>+</b>
                        <p class="primary-color" th:text="${home['home.module8.8']}"></p>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="width: 50%;height: 150px">
                    <div class="text-center">
                        <img src="/img/home/module8/4.png" width="48" alt="">
                        <b class="d-block fs-5"><span id="number6">3400</span>+</b>
                        <p class="primary-color" th:text="${home['home.module8.9']}"></p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-animateNumber/0.0.14/jquery.animateNumber.min.js"></script>
        <!-- 自定义脚本 -->
        <script>
            $(document).ready(function () {
                let comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',');
                let options = {
                    number: 1000,
                    numberStep: comma_separator_number_step
                }

                let observer = new IntersectionObserver(function (entries) {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            options.number = 20000000000
                            $('#number1').animateNumber(options, 1500);
                            options.number = 51000000
                            $('#number2').animateNumber(options, 1500);
                            options.number = 254000
                            $('#number3').animateNumber(options, 2000);
                            options.number = 260000
                            $('#number4').animateNumber(options, 2000);
                            options.number = 6500
                            $('#number5').animateNumber(options, 2000);
                            options.number = 3400
                            $('#number6').animateNumber(options, 2000);
                            observer.unobserve(entry.target);
                        }
                    });
                }, {threshold: 0.1});

                observer.observe(document.querySelector('#number1'));
            });
        </script>
    </div>
</th:block>
