<th:block th:fragment="module">
    <div class="container-fluid p-0 my-3">
        <div class="row g-0 g-lg-3 mt-5">
            <div class="col-md-3 col-sm-12 wow slideInUp" data-wow-delay="0.1s">
                <div><img src="/img/home/module7/1.png" style="width: 100%"></div>
                <div class="px-5 text-center  my-2">
                    <small th:text="${home['home.module7.1']}"></small>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 wow slideInUp" data-wow-delay="0.2s">
                <div><img src="/img/home/module7/2.png" style="width: 100%"></div>
                <div class="px-5 text-center my-2">
                    <small th:text="${home['home.module7.2']}"></small>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 wow slideInUp" data-wow-delay="0.3s">
                <div><img src="/img/home/module7/3.png" style="width: 100%"></div>
                <div class="px-5 text-center  my-2">
                    <small th:text="${home['home.module7.3']}"></small>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 wow slideInUp" data-wow-delay="0.4s">
                <div><img src="/img/home/module7/4.png" style="width: 100%"></div>
                <div class="px-5 text-center  my-2">
                    <small th:text="${home['home.module7.4']}"></small>
                </div>
            </div>
        </div>
    </div>
</th:block>
