<th:block th:fragment="module">
    <div class="container my-5">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-around align-items-center">
                <div class="wow fadeInUp mb-lg-0 mb-3" data-wow-delay="0.1s">
                    <h1 class="mb-3" style="font-size: 48px;font-weight: 700" th:text="${home['home.module6.1']}"></h1>
                    <h5 th:text="${home['home.module6.2']}">Trading&Execution Conditions</h5>
                </div>
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="width: 400px;">
                    <button class="d-block btn btn-primary p-1 fs-3" style="width: 100%" th:text="${home['home.module6.3']}"></button>
                </div>
            </div>
        </div>
    </div>
</th:block>
