<!-- banner Start -->
<th:block th:fragment="module">
  <div class="container-fluid header bg-white p-0 mt-2">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row dark">
      <div class="col-lg-5 col-md-5 col-sm-12 p-5">
        <h1 class="display-5 animated wow fadeInUp mb-4 fs-2" data-wow-delay="0.2s" th:text="${home['home.module1.1']}">
          Welcome to AM-borker
        </h1>
        <p class="animated wow slideInLeft mb-4 pb-2" data-wow-delay="0.3s" th:text="${home['home.module1.2']}">
          the most trusted and respected forex broker in the industry, providing clients with exceptional
          trading experiences and innovative financial solutions.
        </p>
        <div class="text-center">
          <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn" style="width: 100%" th:text="${home['home.module1.3']}">Get
            Started</a>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 animated wow slideInRight show-on-pc" data-wow-delay="0.1s">
        <img class="img-fluid" src="/img/home/module1/banner.png" alt="">
      </div>
    </div>
  </div>
</th:block>
<!-- banner End -->
