<th:block th:fragment="module">
    <div class="container p-0 pt-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="wow slideInLeft" data-wow-delay="0.1s"><b>World-renowned payment system</b></h1>
                <p class="mt-3 wow slideInRight" data-wow-delay="0.2s">Highly efficient and automated processes, strict
                    audits to ensure customer investment security, and diversified payment channels</p>
            </div>
            <div class="row-12 wow slideInUp" data-wow-delay="0.3s">
                <img src="/img/module12/1.png" width="100%" alt="">
            </div>
        </div>
    </div>
</th:block>
