
<th:block th:fragment="module">
    <div class="container p-0 my-5">
        <div class="container-fluid p-0">
            <div class="row justify-content-center text-center mx-auto mb-5">
                <h1 class="mb-3 wow slideInLeft mb-5" data-wow-delay="0.1s"><b th:text="${home['home.module2.1']}"></b></h1>
                <div class="col-lg-10 col-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="category-body row p-3">
                        <div class="col-lg-6 col-sm-12 d-flex align-items-center category-item">
                            <a class="d-block  p-3  " href="">
                                <div class="d-flex justify-content-around align-items-center">
                                    <div style="background: #E5F3FE" class="p-3 me-3 rounded-3">
                                        <img src="/img/home/module2/1.png" width="56" alt="">
                                    </div>
                                    <div class="category-item-text">
                                        <p class="text-center fs-4 mb-0" th:text="${home['home.module2.2.1']}"></p>
                                        <small  th:text="${home['home.module2.2.2']}"></small>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6  col-sm-12 d-flex align-items-center category-item">
                            <a class="d-block  p-3" href="">
                                <div class="d-flex justify-content-around align-items-center">
                                    <div style="background: #E5F3FE" class="p-3 me-3 rounded-3">
                                        <img src="/img/home/module2/2.png" width="51" alt="">
                                    </div>
                                    <div class="category-item-text">
                                        <p class="text-center fs-4 mb-0"  th:text="${home['home.module2.3.1']}"></p>
                                        <small  th:text="${home['home.module2.3.2']}"></small>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6  col-sm-12 d-flex align-items-center category-item">
                            <a class="d-block p-3" href="">
                                <div class="d-flex justify-content-around align-items-center">
                                    <div style="background: #E5F3FE" class="p-3 me-3 rounded-3">
                                        <img src="/img/home/module2/3.png" width="51" alt="">
                                    </div>
                                    <div class="category-item-text">
                                        <p class="text-center fs-4 mb-0"  th:text="${home['home.module2.4.1']}"></p>
                                        <small  th:text="${home['home.module2.4.2']}"></small>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6  col-sm-12 d-flex align-items-center category-item">
                            <a class="d-block p-3" href="">
                                <div class="d-flex justify-content-around align-items-center">
                                    <div style="background: #E5F3FE" class="p-3 me-3 rounded-3">
                                        <img src="/img/home/module2/4.png" width="51" alt="">
                                    </div>
                                    <div class="category-item-text" style="flex:1">
                                        <p class="text-center fs-4 mb-0"  th:text="${home['home.module2.5.1']}"></p>
                                        <small  th:text="${home['home.module2.5.2']}"></small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">

            </div>
        </div>
    </div>
</th:block>

