<th:block th:fragment="module">
    <div class="container p-0 pt-5 my-5">
        <div class="mb-5">
            <p class="text-center wow slideInUp" data-wow-delay="0.1s"><span class="box-before"
                                                                             th:text="${home['home.module9.1']}"></span>
            </p>
            <h1 class="text-center wow slideInLeft" data-wow-delay="0.2s"><b th:text="${home['home.module9.2']}"></b>
            </h1>
            <h5 class="text-center wow slideInRight mt-2" data-wow-delay="0.3s" th:text="${home['home.module9.3']}">
            </h5>
        </div>
        <div class="row g-0 g-lg-3 justify-content-center">
            <div class="col-lg-8 col-sm-12">
                <div class="row g-0 g-lg-3">
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.1s">
                        <div class="gray-bg-color p-3">
                            <div class="d-flex align-items-center ">
                                <div class="flex-fill">
                                    <p class="mb-3"><b th:text="${home['home.module9.4.1']}"></b></p>
                                </div>
                                <div class="d-flex text-white justify-content-center align-items-center m10-icon">
                                    <i class="fs-3 bi bi-bank"></i>
                                </div>
                            </div>
                            <div class="two-line-height mt-2">
                                <small class="primary-color"><b th:text="${home['home.module9.4.2']}"></b></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.2s">
                        <div class="gray-bg-color p-3">
                            <div class="d-flex align-items-center">
                                <div class="flex-fill">
                                    <p class="mb-3"><b th:text="${home['home.module9.5.1']}"></b></p>
                                </div>
                                <div class="d-flex text-white justify-content-center align-items-center m10-icon">
                                    <i class="fs-3 bi bi-bar-chart"></i>
                                </div>
                            </div>
                            <div class="two-line-height mt-2">
                                <small class="primary-color"><b th:text="${home['home.module9.5.2']}"></b></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.2s">
                        <div class="gray-bg-color p-3">
                            <div class="d-flex align-items-center">
                                <div class="flex-fill">
                                    <p class="mb-3"><b th:text="${home['home.module9.6.1']}"></b></p>
                                </div>
                                <div class="d-flex text-white justify-content-center align-items-center m10-icon">
                                    <i class="fs-3 bi bi-file-earmark-code"></i>
                                </div>
                            </div>
                            <div class="two-line-height  mt-2">
                                <small class="primary-color"><b th:text="${home['home.module9.6.2']}"></b></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.2s">
                        <div class="gray-bg-color p-3">
                            <div class="d-flex align-items-center">
                                <div class="flex-fill">
                                    <p class="mb-3"><b th:text="${home['home.module9.7.1']}"></b></p>
                                </div>
                                <div class="d-flex text-white justify-content-center align-items-center m10-icon">
                                    <i class="fs-3 bi bi-building"></i>
                                </div>
                            </div>
                            <div class="two-line-height  mt-2">
                                <small class="primary-color"><b th:text="${home['home.module9.7.2']}"></b></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.2s">
                        <div class="gray-bg-color p-3">
                            <div class="d-flex align-items-center">
                                <div class="flex-fill">
                                    <p class="mb-3"><b th:text="${home['home.module9.8.1']}"></b></p>
                                </div>
                                <div class="d-flex text-white justify-content-center align-items-center m10-icon">
                                    <i class="fs-3 bi bi-patch-check"></i>
                                </div>
                            </div>
                            <div class="two-line-height  mt-2">
                                <small class="primary-color"><b th:text="${home['home.module9.8.2']}"></b></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.2s">
                        <div class="gray-bg-color p-3">
                            <div class="d-flex align-items-center">
                                <div class="flex-fill">
                                    <p class="mb-3"><b th:text="${home['home.module9.9.1']}"></b></p>
                                </div>
                                <div class="d-flex text-white justify-content-center align-items-center m10-icon">
                                    <i class="fs-3 bi-gear-fill"></i>
                                </div>
                            </div>
                            <div class="two-line-height mt-2">
                                <small class="primary-color"><b th:text="${home['home.module9.9.2']}"></b></small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</th:block>
