<th:block th:fragment="module">
    <div class="container-fluid p-0 pt-5 mt-5">
        <div class="row g-0 p-0">
            <div class="col-lg-5 gray-bg-color p-5  wow slideInLeft"  data-wow-delay="0.1s">
                <h1 class="mb-5"><b th:text="${home['home.module10.1']}">Experience Superior</b></h1>
                <p class="box-before" th:text="${home['home.module10.2']}">Advanced Trading Platform</p>
                <p class="box-before" th:text="${home['home.module10.3']}">Trade all markets from one trusted platform</p>
                <p class="box-before" th:text="${home['home.module10.4']}">Advanced tools and charts with a friendly interface</p>
                <p class="box-before" th:text="${home['home.module10.5']}">1-click trading & trade from charts</p>
                <p class="box-before" th:text="${home['home.module10.6']}">Forex / Stock / CFDs / Indices</p>
                <p class="box-before" th:text="${home['home.module10.7']}">Commodities / Cryptocurrencies</p>
                <div class="mt-5">
                    <a href="#download" class="btn btn-primary px-5 py-3"><b th:text="${home['home.module10.8']}">Dowload MT4</b></a>
                </div>
            </div>
            <div id="download" class="col-lg-7  wow slideInRight" data-wow-delay="0.1s">
                <div  class="d-flex align-items-center" style="height: 100%">
                    <div class="p-3 shadow">
                        <a class="d-block mb-5"
                           href="https://download.metatrader.com/cdn/web/atom.markets.ltd/mt4/fxatommarkets4setup.exe">
                            <h1><i class="bi bi-windows"></i></h1></a>
                        <a class="d-block mb-5" href="https://apps.apple.com/cn/app/metatrader-4/id496212596"><h1><i
                                class="bi bi-apple"></i></h1></a>
                        <a href="https://play.google.com/store/apps/details?id=net.metaquotes.metatrader4&hl=zh&referrer=ref_id%3d5190857762977722725%26server%3dfxAtomMarkets-Demo%252cfxAtomMarkets-Live">
                            <h1><i class="bi bi-google-play" style="color: #EEA08B"></i></h1></a>
                    </div>
                    <div class="p-5">
                        <img src="/img/home/module10/1.png" style="width: 100%" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
