<th:block th:fragment="module">
    <div class="container-fluid p-0 mb-5">
        <div class="bg1 show-on-pc wow fadeIn" data-wow-delay="0.1s" style="background-image: url('/img/module5/1.png');padding-top: 30%">
            <div class="p-5" style="position: relative;left: 0;width: 100%;background: rgba(0,0,0,.3)">
                <div style="width: 60%">
                    <h3 class="box-before text-white ">Trade what you want When you want</h3>
                    <p class="text-white">Trade Forex , Indices , Shares &CommoditiesAccess global markets 24 hours /
                        5daysVarious payment methodsMultilingual customer support</p>
                </div>
            </div>
        </div>
        <div class="row g-0 p-0 wow fadeInUp" data-wow-delay="0.2s">
            <div class="col-lg-4 p-2">
                <div class="primary-bg-color text-white p-4">
                    <h5 class="text-white">Step 1</h5>
                    <h3 class="text-white">Register</h3>
                    <p>Choose account typeand complete
                        our fastand secure application form</p>
                </div>
            </div>
            <div class="col-lg-4 p-2">
                <div class="primary-bg-color text-white p-4">
                    <h5 class="text-white">Step 2</h5>
                    <h3 class="text-white">Found</h3>
                    <p>Fund your tradingaccount using
                        a widerange of fundingmethods
                    </p>
                </div>
            </div>
            <div class="col-lg-4 p-2">
                <div class="primary-bg-color text-white p-4">
                    <h5 class="text-white">Step 3</h5>
                    <h3 class="text-white">Trade</h3>
                    <p>Start trading on yourlive account and accessinstruments across our</p>
                </div>
            </div>

        </div>
    </div>
</th:block>
