<th:block th:fragment="module">
    <div class="container-fluid p-0 pt-5 mt-5">
        <div class="mb-5">
            <p class="text-center wow slideInUp" data-wow-delay="0.1s"><i class="box-before"></i>We Are Expertise In</p>
            <h1 class=" text-center wow slideInLeft" data-wow-delay="0.2s"><b>6 Reasons to Choose Us</b></h1>
            <h5 class=" text-center wow slideInRight mt-2" data-wow-delay="0.3s">
                A Global Forex Broker
            </h5>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-12">
                <div class="row g-3">
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.1s">
                        <div class="gray-bg-color p-3">
                            <div class="d-flex align-items-center ">
                                <div class="flex-fill">
                                    <p class="mb-3"><b>Globally Segregated</b></p>
                                </div>
                                <div class="d-flex text-white justify-content-center align-items-center m10-icon">
                                    <i class="fs-3 bi bi-bank"></i>
                                </div>
                            </div>
                            <div class="two-line-height mt-2">
                                <small class="primary-color"><b>Lient Funds</b></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.2s">
                        <div class="gray-bg-color p-3">
                            <div class="d-flex align-items-center">
                                <div class="flex-fill">
                                    <p class="mb-3"><b>Tighter Spreads</b></p>
                                </div>
                                <div class="d-flex text-white justify-content-center align-items-center m10-icon">
                                    <i class="fs-3 bi bi-bar-chart"></i>
                                </div>
                            </div>
                            <div class="two-line-height mt-2">
                                <small class="primary-color"><b>Market lead ing spreads from 0.0 pips24/5</b></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.2s">
                        <div class="gray-bg-color p-3">
                            <div class="d-flex align-items-center">
                                <div class="flex-fill">
                                    <p class="mb-3"><b>Faster Execution</b></p>
                                </div>
                                <div class="d-flex text-white justify-content-center align-items-center m10-icon">
                                    <i class="fs-3 bi bi-file-earmark-code"></i>
                                </div>
                            </div>
                            <div class="two-line-height  mt-2">
                                <small class="primary-color"><b>Low latency, ultra-fast execution trade</b></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.2s">
                        <div class="gray-bg-color p-3">
                            <div class="d-flex align-items-center">
                                <div class="flex-fill">
                                    <p class="mb-3"><b>Advanced Platforms</b></p>
                                </div>
                                <div class="d-flex text-white justify-content-center align-items-center m10-icon">
                                    <i class="fs-3 bi bi-building"></i>
                                </div>
                            </div>
                            <div class="two-line-height  mt-2">
                                <small class="primary-color"><b>MT4 superior client portal</b></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.2s">
                        <div class="gray-bg-color p-3">
                            <div class="d-flex align-items-center">
                                <div class="flex-fill">
                                    <p class="mb-3"><b>24/5 Multilingual Customer Support</b></p>
                                </div>
                                <div class="d-flex text-white justify-content-center align-items-center m10-icon">
                                    <i class="fs-3 bi bi-patch-check"></i>
                                </div>
                            </div>
                            <div class="two-line-height  mt-2">
                                <small class="primary-color"><b>Award winning support &personal accourt managers</b></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.2s">
                        <div class="gray-bg-color p-3">
                            <div class="d-flex align-items-center">
                                <div class="flex-fill">
                                    <p class="mb-3"><b>Safer System</b></p>
                                </div>
                                <div class="d-flex text-white justify-content-center align-items-center m10-icon">
                                    <i class="fs-3 bi-gear-fill"></i>
                                </div>
                            </div>
                            <div class="two-line-height mt-2">
                                <small class="primary-color"><b>MReal-time updated security system</b></small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</th:block>
