<!-- bg Start -->
<th:block th:fragment="module">
    <div class="container  p-0 mt-2">
        <h1 class="text-center wow slideInLeft" data-wow-delay="0.1s"><b th:text="${forex['forex.module3.1']}"></b></h1>
        <div class="row g-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-3 col-12 p-lg-5 p-1 mb-3">
                <div class="forex-number d-flex align-items-center mb-3">
                    <p>1</p>
                </div>
                <small th:text="${forex['forex.module3.2']}"></small>
            </div>
            <div class="col-lg-3 col-12 p-lg-5 p-1 mb-3">
                <div class="forex-number d-flex align-items-center mb-3">
                    <p>2</p>
                </div>
                <small th:text="${forex['forex.module3.3']}"></small>
            </div>
            <div class="col-lg-3 col-12 p-lg-5 p-1 mb-3">
                <div class="forex-number d-flex align-items-center mb-3">
                    <p>3</p>
                </div>
                <small th:text="${forex['forex.module3.4']}"></small>
            </div>
            <div class="col-lg-3 col-12 p-lg-5 p-1 mb-3">
                <div class="forex-number d-flex align-items-center mb-3">
                    <p>4</p>
                </div>
                <small th:text="${forex['forex.module3.5']}"></small>
            </div>
        </div>
    </div>
</th:block>
<!-- bg End -->
