<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="common/include :: head"></th:block>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <style>

    </style>
</head>

<body>
<div class="container-xxl bg-white p-0">
    <th:block th:include="common/include :: menu"></th:block>

    <th:block th:include="home/include/module1 :: module1"></th:block>

    <th:block th:include="home/include/module2 :: module2"></th:block>

    <th:block th:include="home/include/module3 :: module3"></th:block>

    <th:block th:include="home/include/module4 :: module4"></th:block>

    <th:block th:include="home/include/module7 :: module7"></th:block>

    <th:block th:include="home/include/module8 :: module8"></th:block>

    <th:block th:include="home/include/module9 :: module9"></th:block>

    <th:block th:include="home/include/module10 :: module10"></th:block>

    <th:block th:include="home/include/module12 :: module12"></th:block>



</div>

<th:block th:include="common/include :: footer"></th:block>
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
<!-- Back to Top -->


<!-- JavaScript Libraries -->

<th:block th:include="common/include :: js"></th:block>
</body>

</html>
