<!-- banner Start -->
<th:block th:fragment="module">
    <div class="container-fluid header bg-white p-0 mt-2">
        <div class="position-relative banner-bg-img">
            <img src="/img/stock/module1/1.png" alt="">
            <div class="position-absolute">
                <h1 class="text-white" th:text="${menu['menu.products.stock']}"></h1>
                <button class="btn btn-primary">
                    <b class="text-white mb-0" th:text="${common['common.startTrading']}"></b>
                </button>
            </div>
        </div>
    </div>
</th:block>
<!-- banner End -->
